*{
  margin:0;
  padding:0;
}
body{
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-image:linear-gradient(red,yellow,green);
  background-size: cover;
  text-align: center;
}

td{
  padding: 1em;
  margin:0;
}

.table_heads{
  font-weight: bold;
  font-size: 1.5em;
}

.hire{
  padding: 2em;
  margin:1.5em;
}
